<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.kilha.www.vo.Shop" alias="Shop"/>
  	<typeAlias type="com.kilha.www.vo.Address" alias="Address"/>
  	<typeAlias type="com.kilha.www.vo.Warehouse" alias="Warehouse"/>
  	<typeAlias type="com.kilha.www.vo.Staff" alias="Staff"/>
  	<typeAlias type="com.kilha.www.vo.Product" alias="Product"/>
  </typeAliases>
  <mappers>
    <mapper resource="mappers/MapMapper.xml"/>
  </mappers>
</configuration>