<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kilha.www.dao.FactoryDAO">

<select id="factory1" resultType="FactoryVO" parameterType="int">
	select * from factory where fac_num=#{fac_num}
</select>


<select id="Dailyproduct" resultType ="ProductVO">
	select * from dailyproduct
</select>
</mapper>